{% extends 'base/master.html' %}
{% load static %}

{% block title %}
Modificar DATOS
{% endblock %}

{% block content %}

<h1>modificar</h1>

<form method="POST">{% csrf_token %}
    <div class="container border border-danger">
        <div class="row">
          <div class="col-sm">
            <div class="mb-3">
                <label for="namess" class="form-label">Nombre(s)</label>
                <input type="text" class="form-control"  name="namess" value="{{ user.nombre }}">
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-3">
                <label for="appelidopp" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control"  name="apellidopp" value="{{ user.apellidop }}">
            </div>
          </div>
          <div class="col-sm">
            <div class="mb-3">
                <label for="apellidomm" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control"  name="apellidomm" value="{{ user.apellidom }}">
            </div>
          </div>
        </div>

     <!----segundo--->   
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="col-sm">
                        <label for="esta" class="form-label">Genero</label>
                    </div>
                    <div class="col-sm">
    
                        <select class="form-select" aria-label="Default select example" id="empdiabetes" name="empdiabetes">
                            <option selected>Selecciona uno</option>
                            <option value="1">Hombre</option>
                            <option value="2">Mujer</option>
                          </select>

                    </div>
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                      <label for="telefonos" class="form-label">Telefono de Contacto</label>
                      <input type="text" class="form-control"  name="telefonos" value="{{ user.telefono }}">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                      <label for="apellidomm" class="form-label">Fecha de Nacimiento</label>
                      <input type="text" class="form-control"  name="fecha" value="{{ user.fecha }}">

                    
                  </div>
                </div>
              </div>
        </div>
        <!----tercerto--->   
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3">
                        <label for="cp" class="form-label">Código Postal</label>
                        <input type="text" class="form-control"  name="cp" value="{{ user.codigopostal }}">
                    </div>
                    
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                      <label for="estado" class="form-label">Estado</label>
                      <input type="text" class="form-control"  name="estado" value="{{ user.estado }}">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                    <label for="municipio" class="form-label">Municipio</label>
                    <input type="text" class="form-control"  name="municipio" value="{{ user.municipio }}">
                  </div>
                </div>
              </div>
        </div>

          <!----Cuarto--->   
          <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3">
                        <label for="calle" class="form-label">Calle</label>
                        <input type="text" class="form-control"  name="calle" value="{{ user.calle }}">
                    </div>
                    
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                      <label for="numex" class="form-label">Número Exterior</label>
                      <input type="text" class="form-control"  name="numex" value="{{ user.numex }}">
                  </div>
                </div>
                <div class="col-sm">
                  <div class="mb-3">
                    <label for="numint" class="form-label">Número interior(opcional)</label>
                    <input type="text" class="form-control"  name="numint" value="{{ user.numint }}">
                  </div>
                </div>
              </div>


              <div class="col mb-4">
                <button type="submit" class="btn btn-danger" name="savePersonal">Guardar</button>
              </div>
        </div>
        

      </div>

      
</form>

{% endblock %}